<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django thingy</title>
    <style>
        *{
            color: aliceblue;
            text-align: center;
        }

        body{
            background-color: rgb(50, 49, 49);
        }

        h1{
            border-bottom: 1px aliceblue solid;
            width: 20rem;
            margin:  2rem auto 5rem;
        }

        span{
            font-weight: bold;
            color: red;
        }
    </style>
</head>
<body>
    <h1>hello world!!!!!!!!</h1>
    <p>Riiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii</p>

    <h2>weather is currently <span>{{weather}}</span> outside and the time is <span>{{time}}</span></h2>
    <p>{{hour}}</p>
</body>
</html>