<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>person</title>
    <style>
        body{
            color: aliceblue;
            background-color: rgb(57, 57, 57);
            margin: 5rem;
        }
        span{
            font-weight: bold;
        }
    </style>
</head>
<body>
    <p><span>Name:</span> {{person_name}}</p>
    <p><span>Age:</span> {{person_age}}</p>
    <p><span>Country:</span> {{person_country}}</p>
    <p>"Hello, my name is {{person_name}} I'm {{person_age}} years old and I live in {{person_country}}."</p>
</body>
</html>