<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>people</title>
    <style>
        body{
            color: aliceblue;
            background-color: rgb(57, 57, 57);
            margin: 5rem;
        }
        span{
            font-weight: bold;
        }
    </style>
</head>
<body>
    <p><span>the people on the list are:</span> {{names}}.</p>
    <p><span>their ages are:</span> {{ages}}.</p>
    <p><span>they come from many countries like:</span> {{countries}}.</p>
</body>
</html>