* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    margin: 5rem;
}

.container {
    display: flex; 
    gap: 1rem;
}

.left, .right {
    flex-direction: column;
}

.middle {
    align-items: center; 
    justify-content: space-around;
}

.box {
    width: 8rem;
    height: 8rem;
    border: 2px black solid;
    background-color: yellow;
}