body {
    box-sizing: border-box;
    margin: 0;
    font-family: roboto;
}

main {
    display: flex;
    width: 100%;
    height: 50.5rem;
}

main > *  {
    width: 50%;
}

h1 {
    font-size: 300%;
}
/*-------------------------------*/
.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
}

input {
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    width: 50%;
}

textbox {
    display: flex;
}

.inputext {
    display: flex;
    align-items: center;
    padding: 1rem 0 0;
}

.inputext input {
    width: initial;
}

.left button {
    margin: 1rem;
    padding: 1rem 2rem;
    border: none;
    background-color: #090990;
    color: aliceblue;
    border-radius: 5px;
}

.iconbox {
    font-size: 2rem;
}

.iconbox i {
    margin: 0.5rem;
    color: #090990;
}

/*-------------------------------*/
.right {
    background: linear-gradient(141deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 4%, rgb(26, 59, 165) 100%);
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right i {
    font-size: 10rem;
    margin-left: 3rem;
}

.right h1, .right p {
    margin: 0.5rem;
}



.right p {
    font-size: 120%;
    text-align: center;
}

.register {
    display: flex;
    align-items: center;
    padding: 0rem 1rem;
    margin: 1rem;
    border: 2px solid aliceblue;
    border-radius: 10px;
}

.register i {
    font-size: 2rem;
    border: 2px solid aliceblue;
    border-radius: 40%;
    padding: 0.5rem;
    margin: 0.5rem 0 0.5rem 3rem;
}
