<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {%if user.is_authenticated%}
        <a href="{%url 'logout' %}">logout</a>
        <br>
        hello {{user}}
        <br>
        <h1>POST LIST:</h1>
        {%for posts, post_comment in posts_comment%}
            <br> 
                {{post}}
            <br>
            {%for comment in comments.all%}
                {{comment}}
            {%endfor%}
            <form action="{% url 'add-comment' %}" method="post">
                {%csrf_token%}
                {{post_comment}}
                <button type="submit">submit</button>
            </form>
        {%endfor%}
    {%else%}
    <a href="{%url 'login' %}">login</a>
    <h1>POST LIST:</h1>
        {%for item in post%}
            <br> 
                {{item}}
            <br>
            {%endfor%}
    {%endif%}

</body>
</html>